
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin : 0 ;
    padding: 0 ;
    font-family: 'poppins',sans-serif;
}

section{
    display: flex;
    justify-content: center;
    align-items: center ;
    min-height: 100vh;
    width: 100%;
    background-color: rgb(6, 21, 49);
    /* background-image: url(/image/junglebg.jpg);  */
}

.formbox:hover{
    box-shadow: 0px 0px 4px 4px rgba(18, 84, 206, 0.608);
}


 .formbox{
    width: 400px;
    height: 400px;
    /* background :  red; */
    display: flex;
    justify-content: center;
    align-items: center;
    border:2px solid rgb(111, 98, 124);
    border-radius: 25px;
    background-color: rgba(69, 59, 96, 0.187); 
}

h2{
    font-size: 2em ;
    
    
    background-image: linear-gradient(90deg,#f1f5f7,rgb(13, 151, 33));
    -webkit-background-clip:text;
    color: transparent;
    text-align: center ;

}
.inputbox{
    position: relative;
    margin : 25px ;
    width: 310px;
    border-bottom: 2px solid #fff;
}

.inputbox label{
    position : absolute;
    top:20%;
    left: 5px;
    transform: translateY(-65%);
    color: #fff;
    font-size: 1em;
    font-weight:700;
    pointer-events:none;
    transition: .5s;
    
    

}
input:focus ~ label,
input:focus ~ :valid{top : -7px}

.inputbox input {
    width: 90%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size:1em;
    color: #a5aaa3;
   
}

.inputbox ion-icon {
    position: absolute;
    right   : 9px;
    color: rgb(21, 150, 90);
    font-size: 1.1em;
    top: 20px;
}

.forget{
   
    font-family: monospace,sans-serif;
    margin:24px;
    font-size: smaller;
    display: flex;
    justify-content: space-between;

}

.forget label {
   color: #9c99abd4;
}

.forget a {
   color: #3e9828da;
   font-style: normal;
   text-decoration: none;
}
button{
    margin-left: 19px;
    border-radius: 25px;
    height: 30px;
    width: 320px;
    background-color: #060620e5;
    font-weight: 500;
    color: #dcede0;
     border: none;
}
button:hover {
    /* background-color: rgba(32, 10, 119, 0.995); */
    box-shadow: 1px 1px  5px rgb(23, 133, 73);
    border:1px solid rgb(3, 144, 142);
    cursor: pointer;
}

.register{
    padding-top: 30px;
    background-image: linear-gradient(45deg,#f1f5f7,rgb(67, 142, 67));
    -webkit-background-clip: text;
    color: transparent;
    display: flex;
    justify-content: space-evenly;
}
.register a {
    color: #1d8e2e;
    font-weight: 400;
    font-size: larger;
    text-decoration: none;
}
.register p{
    font-style: italic;
    font-weight: 400;
}

.forget span{
    font-size: 12px;
    font-weight: 400;
}

#cbox{
    height : 10px ;
}